<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metflix India</title>
    <link rel="stylesheet" href="/loginCss.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <div class="sign-upbg">
        <div class="homeIcon">
            <a href="/">
                <span class="material-symbols-outlined">
                    home
                </span>
            </a>
        </div>
        <form action="/login" method="post">
            <h1>Log-in</h1>
            <div class="mb-3">
              <label for="exampleInputEmail2" class="form-label">Email address</label>
              <input type="email" class="form-control" name="userEmail" id="exampleInputEmail2" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword2" class="form-label">Password</label>
              <input type="password" class="form-control" name="password" id="exampleInputPassword2">
            </div>
            <div class="btns">
                <button type="submit" class="btn btn-primary" id="loginBtn">Log-in</button>
                <button type="submit" class="btn btn-primary" id="signinBtn"><a href="/signup">Sign-Up</a></button>
            </div>
          </form>
    </div>
</body>
</html>