<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metflix India</title>
    <link href="./output.css" rel="stylesheet">
</head>
<body class="bg-black text-white">
    Welcome <%= username %>
    awsedrftgyhunjiml
</body>
</html>