<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metflix India</title>
  <link rel="stylesheet" href="/signupCss.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
  <div class="sign-upbg">
    <div class="homeIcon">
      <a href="/">
        <span class="material-symbols-outlined">
          home
        </span>
      </a>
    </div>
    <form action="/signup" method="post">
      <h1>Sign-Up</h1>
      <div class="mb-3">
        <label for="exampleName" class="form-label">Name</label>
        <input type="text" name="username" class="form-control" id="exampleName1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="userEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="userPassword" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="btns">
        <button type="submit" class="btn btn-primary" id="loginBtn"><a href="/login">Log-In</a></button>
        <button type="submit" class="btn btn-primary" id="signinBtn">Sign-Up</button>
      </div>
    </form>
  </div>
</body>

</html>